/* Устанавливаем margin для body в 0 и добавляем фон */
body {
  margin: 0;
  background-color: #1e1e1e; /* Вы можете изменить этот цвет на свой */
  color: #fff; /* Опционально: белый текст для контраста с тёмным фоном */
  font-family: Inter, sans-serif;
  font-weight: 400;
}

/* Обнуляем margin и padding для заголовков, параграфов, списков и цитат */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
    width: 360px; /* Фиксированная ширина 360 пикселей */
    margin: auto; /* Автоматические поля для горизонтального центрирования */
    box-sizing: border-box; /* Включаем padding и border в общую ширину */
}

.content-section_theme_dark {
  background-color: #131313; /* Тёмный фон */
  color: #ffffff; /* Белый цвет текста */
}

.content-section_theme_bright {
  background-color: #fee42a; /* Светлый жёлтый фон */
  color: #131313; /* Чёрный цвет текста */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 20px;
}

.header__logo {
  display: block; /* потому что ссылка - строчный элемент, чтобы он реагировал на размеры, задали ему свойство блочного */
  width: 78px;
}

.header__logo-image {
  width: 100%;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.header__menu-link {
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.cover {
  padding: 7px 24px 32px 20px;
  background-image: url(../images/cover.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 95% auto;
}

.cover__title {
  width: 100%;
  color: #fff;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.intro {
 padding: 0 20px 38px;
}

.intro__heading {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  color: #ccc;
  font-size: 16px;
}

.intro__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.intro__date {
  font-size: 16px;
  line-height: 1.2;
  white-space: nowrap;/* чтобы текст не переносился - всегда для дат, номеров телефонов, для емейлов */
}

.intro__main-text {
  display: flex; /* нужен, чтобы работало свойство gap */
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  color: #f5f5f5;
  font-size: 16px;
  line-height: 1.35;
}

.reasons {
  padding: 40px 20px;
}

.content-section__subtitle {
  margin-bottom: 32px;
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.15;
}

.content-section__introduction {
  margin: 0 0 32px;
  font-size: 20px;
  line-height: 1.35;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 0 0 16px;
  font-size: 16px;
  line-height: 1.35;
}

.content-section__list-accent {
  font-weight: 700;
}


.how-to {
  padding: 40px 20px 60px;
}

.footer {
  padding: 20px;
}
